<softlogger>
	<name>Environmental Monitoring</name>
	<poll>60</poll> <!-- default poll rate in seconds -->
	<tableFilePath>lut</tableFilePath>
	<dataFilePath>data</dataFilePath>
	<server>
		<user>tsco</user>
		<host>datacloud.server.com</host>
		<configPoll>3600</configPoll>
		<path>/save/data/here</path>
		<password>fakePass01</password> <!-- or <keyfile> element -->
	</server>
	<channel>
		<tcp>
			<host>127.0.0.1</host>
			<port>502</port>
			<poll>1</poll> <!-- default poll rate for this channel, overrides Softlogger poll -->
		</tcp>
		<device>
			<!-- devices can each have a poll rate as well, which overrides their channel and softlogger default polls -->
			<address>15</address>
			<description>Floor 1 DSI</description>
			<configRegister>
				<fieldName>Number of sensors</fieldName>
				<regAddr>400002</regAddr>	<!-- Addresses can be of the form [0134][0-9]{4,5}.  The first digit indicates the type of register (input,output)*(coil,register). -->
				<size>2</size> <!-- size in words of the register. 2 and 4 are supported -->
				<value>10</value>	<!-- value for the config register, overwrite the device's register with this -->
			</configRegister>
			<dataRegister>
				<fieldName>Unit 411 Power</fieldName>
				<regAddr>300000</regAddr>
				<size>4</size>
				<postProcess>
					<tableFile>100ACT.dat</tableFile></postProcess>
				<guid>D3SIA00023</guid>
			</dataRegister>
			<virtualRegister>
				<fieldName>Power</fieldName>
				<operand id="current">
					<regAddr>0x0A</regAddr>
					<size>2</size>
				</operand>
				<operand id="voltage">
					<value>120</value>
				</operand>
				<postProcess>
					<function>mult</function></postProcess>
				<guid>guid</guid>
			</virtualRegister>
			<configRegister>
				<fieldName>Number of counters</fieldName>
				<regAddr>300001</regAddr>
				<size>2</size>
				<value>2</value></configRegister>
			<configRegister>
				<fieldName>Number of Somethings at 7</fieldName>
				<regAddr>400007</regAddr>
				<size>2</size>
				<value>55</value></configRegister>
			<configRegister>
				<fieldName>Reset Reason</fieldName>
				<regAddr>400003</regAddr>
				<size>2</size>
				<value>9</value></configRegister>
		</device>
	</channel>
</softlogger>