<softlogger>
	<name>Riverdale</name>
	<poll>test</poll>
	<tableFilePath>lut</tableFilePath>
	<dataFilePath>data</dataFilePath>
	<server>
		<user>tsco</user>
		<host>datacloud.server.com</host>
		
		<configPoll>3600</configPoll>
		<path>/save/data/here</path>
		<password>fakePass01</password></server>
	<channel>
		<tcp>
			<host>192.168.5.22</host>
		</tcp>
		<device>
			<address>1</address>
			<description>WattsOn</description>
			<dataRegister>
				<fieldName>Power</fieldName>
				<regAddr>0x301</regAddr>
				<size>4</size>
				<postProcess>
					<type>FLT32</type></postProcess>
				<guid>D3SPWH00034</guid>
			</dataRegister>
		</device>
	</channel>
	<channel>
		<serial>
			<comport>COM3</comport>
			<baud>9600</baud>
		</serial>
		<device>
			<address>1</address>
			<description>Floor 1 DSI</description>
			<configRegister>
				<fieldName>Number of sensors</fieldName>
				<regAddr>0x02</regAddr>
				<size>2</size>
				<value>10</value>
			</configRegister>
			<dataRegister>
				<fieldName>Unit 411 Power</fieldName>
				<regAddr>0x0A</regAddr>
				<size>2</size>
				<postProcess>
					<tableFile>100ACT.dat</tableFile></postProcess>
				<guid>D3SIA00023</guid>
			</dataRegister>
			<virtualRegister>
				<fieldName>Power</fieldName>
				<operand id="0">
					<regAddr>0x0A</regAddr>
					<size>2</size>
				</operand>
				<operand id="">
					<value>120</value>
				</operand>
				<postProcess>
					<function>mult</function></postProcess>
				<guid>guid</guid>
			</virtualRegister>
		</device>

	</channel>
</softlogger>