log4j.rootLogger=TRACE, console, file

# console config
log4j.appender.console=org.apache.log4j.ConsoleAppender
log4j.appender.console.threshold=TRACE

log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n

# file config
log4j.appender.file=org.apache.log4j.RollingFileAppender
log4j.appender.file.File=softlogger.log
log4j.appender.file.threshold=TRACE

log4j.appender.file.MaxFileSize=100KB
log4j.appender.file.MaxBackupIndex=2

log4j.appender.file.layout=org.apache.log4j.PatternLayout
log4j.appender.file.layout.ConversionPattern=%r [%t] %p %c - %m%n